<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fanxh.wannl">

    <application
        android:allowBackup="true"
        android:icon="@drawable/about_img_logo_mdpi"
        android:label="万年历"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".StatementActivity" />
        <activity android:name=".MessageBoardActivity"></activity>
    </application>

</manifest>